<app-api-navigation></app-api-navigation>

<!-- Data View -->

<div *ngIf="AllWallets.length > 1" class="ui-sm-12 ui-lg-7" style="margin: auto;">

    <p-dataView [value]="AllWallets">

        <!-- Header -->

        <p-header>List of Wallets</p-header>

        <!-- Dataview Item -->

        <ng-template let-wallet pTemplate="listItem">

            <div class="list-item-container">

                <!-- Details -->

                <div class="ui-g-10">
                    <div>
                        <div class="ui-g">
                            <div class="ui-g-12">ID: <b>{{wallet.id}}</b></div>
                            <div class="ui-g-12">Brand: <b>{{wallet.brand}}</b></div>
                            <div class="ui-g-12">Model: <b>{{wallet.model}}</b></div>
                            <div *ngIf="wallet.price != 0.00" class="ui-g-12">Price:
                                <b>{{wallet.price | currency:'EUR'}}</b>
                            </div>
                            <div *ngIf="wallet.price == 0" class="ui-g-12">Price: <b>FREE</b>
                            </div>
                            <div class="ui-g-12">Category: <b>{{wallet.category}}</b></div>
                        </div>
                    </div>
                </div>

                <!-- Product Image -->

                <div class="ui-g-2">
                    <img class="product-image" src={{wallet.imageURL}}>
                </div>

                <!-- Shop Button -->

                <a href="{{wallet.website}}">
                    <button class="shop-button" pButton type="button" icon="pi pi-shopping-cart"></button>
                </a>
            </div>

        </ng-template>

    </p-dataView>

</div>