.product-image {
    height: 100px;
    display: block;
    margin: auto;
    margin-bottom: auto;
}

.list-item-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9dad9;
}

.shop-button {
    margin-right: 20px;
}

.filters-container {
    display: flex;
    margin-bottom: 7px;
}

.page-number {
    color: white;
}