<p-dataView [value]="AllCoins">

    <p-header>List of Coins and Founders</p-header>

    <ng-template let-coin pTemplate="listItem">

        <div class="flex">

            <div class="ui-g-10">
                <div class="car-details">
                    <div>
                        <div class="ui-g">
                            <div class="ui-g-6">Name: <b>{{coin.name}}</b></div>
                            <div class="ui-g-12">Symbol: <b>{{coin.symbol}}</b></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-2">
                <img src="">
            </div>

            <a href={{coin.website}}>
                <button pButton type="button" icon="pi pi-globe"></button>
            </a>
        </div>

    </ng-template>

</p-dataView>