img {
    height: 100px;
    display: block;
    margin: auto;
    margin-bottom: auto;
}

.flex {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9dad9;
}

button {
    margin-right: 20px;
}