<div class="ui-g">

    <div class="ui-g-6">
        <h1>Wallet Form</h1>
        <p>Brand</p>
        <input type="text" size="30" pInputText [(ngModel)]="WalletToPost.brand">
        <p>Model</p>
        <input type="text" size="30" pInputText [(ngModel)]="WalletToPost.model">
        <p>Category</p>
        <input type="text" size="30" pInputText [(ngModel)]="WalletToPost.categorie">
        <p>Website</p>
        <input type="url" size="30" pInputText [(ngModel)]="WalletToPost.website">
        <p>Image Url</p>
        <input type="url" size="30" pInputText [(ngModel)]="WalletToPost.imageURL">
        <p>Price EUR</p>
        <input type="number" size="30" pInputText [(ngModel)]="WalletToPost.price">
        <br>
    </div>

    <div class="ui-g-6">
        <h1>Coin Form</h1>
        <p>Name</p>
        <input type="text" size="30" pInputText [(ngModel)]="CoinToPost.name">
        <p>Symbol</p>
        <input type="text" size="30" pInputText [(ngModel)]="CoinToPost.symbol">
        <p>Website</p>
        <input type="url" size="30" pInputText [(ngModel)]="CoinToPost.website">
        <h1>Founder Information</h1>
        <p>First Name</p>
        <input type="text" size="30" pInputText [(ngModel)]="CoinToPost.founder.firstName">
        <p>Last Name</p>
        <input type="url" size="30" pInputText [(ngModel)]="CoinToPost.founder.lastName">
        <p>Gender</p>
        <input type="url" size="30" pInputText [(ngModel)]="CoinToPost.founder.gender">
    </div>

</div>