.flex {
    display: flex;
    padding: 20px;
    align-items: center;
}

.flex * {
    margin: 10px;
}

h1, h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    margin: 30px;
}