<h1>Currency Calculator </h1>

<div class="flex">

    <p-spinner [(ngModel)]="Amount1" [min]="0" (onChange)="Convert()"></p-spinner>

    <p-dropdown [options]="AllItems" [(ngModel)]="SelectedItem1" [filter]="true" filterBy="label,value.name"
        (onChange)="Convert()">
    </p-dropdown>

    <p-button icon="pi pi-refresh" (onClick)="SwapCurrencies()"></p-button>

    <p-dropdown [options]="AllItems" [(ngModel)]="SelectedItem2" [filter]="true" filterBy="label,value.name"
        (onChange)="Convert()">
    </p-dropdown>

    <input type="text" pInputText [(ngModel)]="Amount2" />

</div>


<h3 *ngIf="SelectedItem1 != null && SelectedItem2 != null"> 1 {{SelectedItem1.symbol}} = {{Ratio}}
    {{SelectedItem2.symbol}}</h3>