<div class="toolbar">

    <!-- Logo -->

    <img class="mm-logo" width="40" alt="MM Logo" src="assets/img/MM.png" />

    <span class="">CRYPTO</span>

    <div class="spacer"></div>

    <!-- Navigation -->

    <p class="nav-item" routerLink="home">Home</p>
    <p class="nav-item" routerLink="price">Prices</p>
    <p class="nav-item" routerLink="calculator">Calculator</p>
    <p class="nav-item" routerLink="wallet">Wallet</p>
    <p class="nav-item" routerLink="information">Information</p>
    <p class="nav-item" routerLink="form">Form</p>

    <!-- Github Link -->

    <a aria-label="MM on github" target="_blank" rel="noopener" href="https://github.com/ElMoufid-Mohamed"
        title="Github">
        <img class="github-logo" width="40" alt="Github Logo" src="assets/img/GitHub-Mark-Light-120px-plus.png" />
    </a>

</div>