:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.spacer {
  flex: 1;
}

.toolbar {
  margin: 0 auto;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.mm-logo, .github-logo {
  margin: 0 16px;
}

.nav-item {
  padding: 10px;
  color: white;
}

.nav-item:hover {
  opacity: 0.8;
}

.active-router {
  border-bottom: 1px solid white;
}