<div class="toolbar">

    <!-- Logo -->

    <a routerLink="/home"><img class="mm-logo" width="40" alt="MM Logo" src="assets/img/MM.png"></a>

    <span class="">CRYPTO</span>

    <div class="spacer"></div>

    <!-- Navigation -->

    <a class="nav-item" routerLink="home" routerLinkActive="active-router">HOME</a>
    <a class="nav-item" routerLink="ranking" routerLinkActive="active-router">RANKING</a>
    <a class="nav-item" routerLink="calculator" routerLinkActive="active-router">TOOLS</a>
    <a class="nav-item" routerLink="currency-details" routerLinkActive="active-router">REST API</a>

    <!-- Github Link -->

    <a aria-label="MM on github" target="_blank" rel="noopener" href="https://github.com/ElMoufid-Mohamed"
        title="Github">
        <img class="github-logo" width="40" alt="Github Logo" src="assets/img/GitHub-Mark-Light-120px-plus.png" />
    </a>

</div>