<div class="toolbar">

    <img width="40" alt="MM Logo"
        src="https://avatars3.githubusercontent.com/u/47632230?s=460&u=3550ea934f026fe04c0b82497b21d97b6a850e08&v=4" />
    <span>MM DEVELOPMENTS</span>
    <div class="spacer"></div>
    <p routerLink="Home">Home</p>
    <p routerLink="Price">Prices</p>
    <p routerLink="Calculator">Calculator</p>

    <a aria-label="MM on github" target="_blank" rel="noopener" href="https://github.com/ElMoufid-Mohamed"
        title="Github">
        <img id="github-logo" width="40" alt="Github Logo"
            src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" />
    </a>

</div>