<app-api-navigation></app-api-navigation>

<!-- Title -->

<h1 class="title">MM Crypto API Editor</h1>

<!-- Action Selector -->

<p-dropdown [options]="CRUDActions" [(ngModel)]="SelectedCRUDAction"></p-dropdown>
<p-dropdown [options]="Models" [(ngModel)]="SelectedModel"></p-dropdown>

<div class="ui-g">

    <!-- POST Wallet -->

    <div *ngIf="SelectedModel == 'Wallet' && SelectedCRUDAction == 'POST'" class="ui-g-6">

        <!-- SubTitle -->

        <h2 class="title">Wallet</h2>

        <!-- Input Fields -->

        <p>Brand</p>
        <input type="text" size="30" pInputText [(ngModel)]="WalletToPost.brand">
        <p>Model</p>
        <input type="text" size="30" pInputText [(ngModel)]="WalletToPost.model">
        <p>Category</p>
        <input type="text" size="30" pInputText [(ngModel)]="WalletToPost.category">
        <p>Website</p>
        <input type="url" size="30" pInputText [(ngModel)]="WalletToPost.website">
        <p>Image URL</p>
        <input type="url" size="30" pInputText [(ngModel)]="WalletToPost.imageURL">
        <p>Price EUR</p>
        <input type="number" size="30" pInputText [(ngModel)]="WalletToPost.price">

        <!-- Button -->

        <br><br>
        <p-button icon="pi pi-cloud-upload" label="Send" (onClick)="PerformWalletPost()"></p-button>
    </div>

    <!-- Post Asset -->

    <div *ngIf="SelectedModel == 'Asset' && SelectedCRUDAction == 'POST'" class="ui-g-6">

        <!-- SubTitle -->

        <h2 class="title">Asset</h2>

        <!-- Input Fields -->

        <p>Asset Name</p>
        <input type="text" size="30" pInputText [(ngModel)]="AssetToPost.name">
        <p>Asset Symbol</p>
        <input type="text" size="30" pInputText [(ngModel)]="AssetToPost.symbol">
        <p>Asset Website</p>
        <input type="url" size="30" pInputText [(ngModel)]="AssetToPost.website">
        <p>Founder First Name</p>
        <input type="text" size="30" pInputText [(ngModel)]="AssetToPost.founder.firstName">
        <p>Founder Last Name</p>
        <input type="url" size="30" pInputText [(ngModel)]="AssetToPost.founder.lastName">
        <p>Gender</p>
        <input type="url" size="30" pInputText [(ngModel)]="AssetToPost.founder.gender">

        <!-- Button -->

        <br><br>
        <p-button icon="pi pi-cloud-upload" label="Send" (onClick)="PerformCoinPost()"></p-button>

    </div>

    <!-- DELETE Wallet -->

    <div *ngIf="SelectedModel == 'Wallet' && SelectedCRUDAction == 'DELETE'" class="ui-g-6">

        <!-- SubTitle -->

        <h2 class="title">Wallet</h2>

        <!-- Input Fields -->

        <p>Wallet ID</p>
        <input #id type="number" size="30" pInputText>

        <!-- Button -->

        <br><br>
        <p-button icon="pi pi-cloud-upload" label="Send" (onClick)="DeleteWallet(id.value)"></p-button>
    </div>

    <!-- DELETE Asset -->

    <div *ngIf="SelectedModel == 'Asset' && SelectedCRUDAction == 'DELETE'" class="ui-g-6">

        <!-- SubTitle -->

        <h2 class="title">Asset</h2>

        <!-- Input Fields -->

        <p>Asset ID</p>
        <input #id2 type="number" size="30" pInputText>

        <!-- Button -->

        <br><br>
        <p-button icon="pi pi-cloud-upload" label="Send" (onClick)="DeleteCoin(id2.value)"></p-button>
    </div>



</div>