<div *ngIf="AllCoinCapAssets.length < 1">
    <p-progressBar mode="indeterminate" [style]="{'height': '15px'}"></p-progressBar>
</div>

<div *ngIf="AllCoinCapAssets.length > 1" class="ui-g">

    <div class="ui-g-1"></div>

    <div class="ui-g-10">

        <p-table [value]="AllCoinCapAssets" [columns]="Columns" (sortFunction)="sortTable($event)" [customSort]="true">

            <ng-template pTemplate="caption">
                List of Top 100 Cryptocurrencies
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <th class="ColumnHeader" *ngFor="let col of Columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </ng-template>

            <ng-template pTemplate="body" let-coin>
                <tr>
                    <th>
                        <a [routerLink]="['/chart', coin.id]">{{coin.rank}}</a>
                    </th>
                    <th>
                        <div class="HeaderFlex">
                            <img class="Logo" src="https://static.coincap.io/assets/icons/{{coin.symbol}}@2x.png">
                            <p>{{coin.name}}</p>
                        </div>
                    </th>
                    <th>{{coin.priceUsd | currency:'USD'}}</th>
                    <th>{{coin.volumeUsd24Hr | currency:'USD'}}</th>
                    <th *ngIf="coin.changePercent24Hr < 0" class="Negative">
                        {{coin.changePercent24Hr | number:'1.0-2'}}%
                    </th>
                    <th *ngIf="coin.changePercent24Hr >= 0" class="Positive">
                        {{coin.changePercent24Hr | number:'1.0-2'}}%
                    </th>
                </tr>
            </ng-template>

        </p-table>

    </div>

    <div class="ui-g-1"></div>

</div>