.background {
    margin-top: 5px;
    height: 91%;
    background-image: url('/../assets/img/Background.jpg');
    filter: blur(13px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    background-size: 130%;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: fit-content;
    padding: 1%;
    text-align: center;
    border-radius: 30px;
}

.title {
    font-size: 4rem;
    margin: 10px;
    padding: 0;
}

.title:hover {
    transform: scale(1.2);
}

.sub-title {
    font-size: 2rem;
    margin: 10px;
    padding: 0;
}

.sub-title:hover {
    transform: scale(1.2);
}