<app-api-navigation></app-api-navigation>

<!-- Data View -->

<div *ngIf="AllCoins.length > 1" class="ui-sm-12 ui-lg-7" style="margin: auto;">

    <p-dataView [value]="AllCoins">

        <!-- Header -->

        <p-header>List of Assets and Founders</p-header>

        <!-- Dataview Item -->

        <ng-template let-asset pTemplate="listItem">

            <div class="list-item-container">

                <!-- Details -->

                <div class="ui-g-11">
                    <div>
                        <div class="ui-g-4">
                            <div class="ui-g-12">ID: <b>{{asset.id}}</b></div>
                            <div class="ui-g-12">Name: <b>{{asset.name}}</b></div>
                            <div class="ui-g-12">Symbol: <b>{{asset.symbol}}</b></div>
                            <div class="ui-g-12">Forked From:
                                <b *ngIf="asset.fork != null">{{asset.fork.name}}</b>
                                <b *ngIf="asset.fork == null">none</b>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="ui-g-12">ID: <b>{{asset.founder.id}}</b></div>
                            <div class="ui-g-12">First Name: <b>{{asset.founder.firstName}}</b></div>
                            <div class="ui-g-12">Last Name: <b>{{asset.founder.lastName}}</b></div>
                            <div class="ui-g-12">Gender: <b>{{asset.founder.gender}}</b></div>
                        </div>
                    </div>
                </div>

                <!-- Website Button -->

                <a href={{asset.website}}>
                    <button class="website-button" pButton type="button" icon="pi pi-globe"></button>
                </a>
            </div>

        </ng-template>

    </p-dataView>

</div>